version: '3.8'

services:
  app:
    image: python:3.13-slim
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
    working_dir: /app
    command: sh -c "pip install -r requirements.txt && python main.py"
